.bookMark {
  width: 125px;
  font-size: 14px;
  font-weight: 700;
  color: blue;
  opacity: 0.8;
  display: flex;
  flex: start;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-right: 950px;
}
